<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/79b4641bc2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                Takshila <i class="fa-solid fa-school"></i>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>


        <div class="nav-links">
            <a href="">Home</a>
            <a href="./about">About</a>
            <a href="./services">services</a>
            <a href="./contact">Contact us</a>
            <a href="./quiz">Quiz</a>
            <a href="./register">Register</a>
        </div>
    </div>
    <section>
        <div class="goal">
            <h2>Goal of our team</h2>
            <h4>To provide extremelly good quality of education free of cost to the rural areas Students </h4>
           
        </div>
    </section>
    <section class="abtinitiative">
        <h2>About Our initiative</h2>
        <img src="/static/img/takshila.png" width="100%" height="500px" alt="">
    </section>
    <section>
        <div class="abt">
            <h2>Founder of Takshila Education</h2>

            <div class="left">
                <img src="/static/img/abhi.jpeg" alt="Nature" class="responsive" width="20%" height="170">
                <h3>hii Myself Abhishek </h3>
                <img src="/static/img/pk.jpeg" alt="Nature" class="responsive" width="20%" height="170">
                <h3>hii Myself Prashant</h3>
            </div>
    </section>
    <section>
        <div class="abt">
            <div class="left">
                <img src="/static/img/lohit.jpeg" alt="Nature" class="responsive" width="20%" height="170">
                <h3>hii Myself lohit </h3>

                <img src="/static/img/8.jpg " alt="Nature" class="responsive" width="20%" height="170">
                <h3>hii Myself Likhit</h3>
            </div>
    </section>
  <footer>
      <div class="foot">
      <div class="link">
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
      </div>
      <h3>© 2022 Copyright: Takshila</h3>
    </div>
  </footer>

</body>

</html>