<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/79b4641bc2.js" crossorigin="anonymous"></script>
     
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/nav.css">
    
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          Takshila <i class="fa-solid fa-school"></i>
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>


      <div class="nav-links">
         <a href="./home.html">Home</a>
            <a href="./About.html">About</a>
            <a href="./services">services</a>
            <a href="./contact">Contact us</a>
            <a href="./quiz">Quiz</a>
            <a href="./register">Register</a>
      </div>
    </div>
    <section>
      <marquee>
        <h4>HII Welcome to Takshila<i class="fa-solid fa-school"></i></h4>
      </marquee>
    </section>
    <section>
      <!-- display-flex, float-right -->
      <div class="home-sec">
        <div class="left">
        <!-- <div>
            <h3>Hii</h3>
            <h4>Welcome to</h4>
            <h1>Takshila</h1>
          </div>
         --> 
        </div>
        <div class="right"></div>
        


      </div>
    </section>
    <!-- footer -->
    <footer>
      <div class="foot">
      <div class="link">
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
        <!-- <a href="" ><i class="fa-brands fa-github"></i></a>  -->
      </div>
      <h3>© 2022 Copyright: Takshila</h3>
    </div>
  </footer>

  </body>
</html>