<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/services.css">
  <link rel="stylesheet" href="/static/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/79b4641bc2.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Takshila <i class="fa-solid fa-school"></i>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a style="font-size: 15px;" style="font-size: 15px;" href="./home">Home</a>
      <a style="font-size: 15px;" href="./about">About</a>
      <a style="font-size: 15px;" href="./services">services</a>
      <a style="font-size: 15px;" href="./contact">Contact us</a>
      <a style="font-size: 15px;" href="./signin">Quiz</a>
      <a style="font-size: 15px;" href="./quiz">Register</a>
    </div>
  </div>

  <section>
    <div class="firstsec">
      <h3>Our Services are below </h3>
    </div>
  </section>

  <section>
    <div class="firstsec">
      <h3 style="text-align: left;">Modules are below </h3>
    </div>
  </section>

  <section class="sec">
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>NCERT</h1>
      <p class="title">Mathematics </p>
      <a href="https://drive.google.com/drive/folders/1TpMrQcSHPWMhPgvoWfXte1jDdC8Kkuqm?usp=sharing"><button class="btn">Click</button></a>
    </div>
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>NCERT</h1>
      <p class="title">Physics</p>
      <a href="https://drive.google.com/drive/folders/10AUC-CNVFQDVkZ4MCtD5Q507032hM_U0"><button class="btn">Click</button></a>
    </div>
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>NCERT</h1>
      <p class="title">Chemistry</p>
      <a href="https://drive.google.com/drive/folders/1fTtwtuHtf2wMR3VyeKAS3156wAeoHUa_"><button class="btn">Click</button></a>
    </div>
  </section>

  <section class="sec">
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>JEE</h1>
      <p class="title">Mathematics</p>
      <a href="https://drive.google.com/drive/folders/1_IuYyTkD2wK7HKlGy-Irb7ts54zR0Cno"><button class="btn">Click</button></a>
    </div>
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>JEE</h1>
      <p class="title">Physics</p>
      <a href="https://drive.google.com/drive/folders/1dwEmBtXZ3GRdiRcaSUs08PNhGMqcQuQo"><button class="btn">Click</button></a>
    </div>
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>JEE</h1>
      <p class="title">Chemistry</p>
      <a href="https://drive.google.com/drive/folders/1k2neqFd-RP9fkAV0e-vYEfNQkv0WhPXZ"><button class="btn">Click</button></a>
    </div>
  </section>

  <section>
    <div class="firstsec">
      <h3 style="text-align: left;">Lecture Links are below </h3>
    </div>
  </section>
  

  <!---->

  <section class="sec">
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>NCERT</h1>
      <p class="title">Mathematics </p>
      <a href="https://drive.google.com/drive/folders/1rLDjvyE83nzX8rCm3gQoJjRXAHjNWKzn"><button class="btn">Click</button></a>
    </div>
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>NCERT</h1>
      <p class="title">Physics</p>
      <a href="https://drive.google.com/drive/folders/1qkSN-fiA2IBV3zRFRO5PbTpRPTKKecwo"><button class="btn">Click</button></a>
    </div>
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>NCERT</h1>
      <p class="title">Chemistry</p>
      <a href="https://drive.google.com/drive/folders/1tBEca9XSmhFE1zksv5orFfkzjkHMMvnm"><button class="btn">Click</button></a>
    </div>
  </section>

  <section class="sec">
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>JEE</h1>
      <p class="title">Mathematics</p>
      <a href="https://drive.google.com/drive/folders/1JNgzf742qZBzekb2OXUi45r8XOH3Txil"><button class="btn">Click</button></a>
    </div>
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>JEE</h1>
      <p class="title">Physics</p>
      <a href="https://drive.google.com/drive/folders/1qkSN-fiA2IBV3zRFRO5PbTpRPTKKecwo"><button class="btn">Click</button></a>
    </div>
    <div class="card">
      <img src="/static/img/1.jpg" alt="John" style="width:100%">
      <h1>JEE</h1>
      <p class="title">Chemistry</p>
      <a href="https://drive.google.com/drive/folders/13VBTyJKbj2IEgJ6BSpytX7EGBAVvVx8I"><button class="btn">Click</button></a>
    </div>
  </section>
 <footer>
      <div class="foot">
      <div class="link">
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
      </div>
      <h3>© 2022 Copyright: Takshila</h3>
    </div>
  </footer>


</body>

</html>